/* Basic */
:root {
  --main-color: #303846;
  --main-font: 16px;
  --header-height: 50px;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #d9d9d8;
  --color-green: #00d2ab;
  --color-bg-grey: #f7f7f7;
  --footer-bg: #303846;
  --color-legend: #09d3ac;;
}


body {
	font-family: Open Sans, sans-serif;
	font-size: var(--main-font);
	color: var(--main-color);
}

.d-inline-b {
	display: inline-block;
}

.dflex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-center {
	justify-content: center;
}

ul, html, body {
	margin: 0px;
	padding: 0px;
}

.link-black {
	color: var(--color-black);
}

.link-white {
	color: var(--color-white);
}

.flex-column {
	flex-direction: column;
}

.btn-white {
	border-color: var(--color-grey);
	color: var(--color-white);
}

.btn-green {
	border-color: var(--color-green) !important;
	color: var(--color-green);	
}

.white {
	color: var(--color-white);
}

.text-dec {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.bg-grey {
	background-color: var(--color-bg-grey);
}

.pr-10 {
	padding-right: 10px;
}

.pl-10 {
	padding-left: 10px;
}

.m-0 {
	margin: 0;
}

.mt-10{
	margin-top: 10px;	
}

.mt-15 {
	margin-top: 15px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.ml-15 {
	margin-left: 15px;
}

.mr-10 {
	margin-right: 10px;	
}

/* Header */

.logo img {
	height: 35px;
}

.logo span {
	font-size: 14px;
	font-weight: bold;
}

.menu a {
	font-size: 13px;
}

header {
	position: fixed;
	background-color: var(--color-white);
	left: 0;
	top: 0;
	right: 0;
	height: var(--header-height);
}

/* Sections */

main {
	margin-top: var(--header-height);
}

.bl {
	background-image: url(../images/banner.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.bl img {
	height: 140px;
}

h1 {
	font-size: 30px;
}

.btn {
	padding: 8px 30px;
	border-radius: 5px;
	border: 1px solid var(--color-grey);
}

.container {
	padding-top: 30px;
	padding-bottom: 35px;
}

.features-sect {
	width: 30%;
}

.section-title {
	font-size: 20px;
}

.section-decription {
	width: 55%;
}

.section-img {
	width: 30%;
}

.section-img img {
	width: 100%;
}

.container-wrapper {
	width: 1000px;
	margin: 0 auto;
}

.section-blocks form{
	width: 370px;
}

.section-blocks fieldset {
	border: 2px solid var(--color-green);
}

.section-blocks legend {
	color: var(--color-legend);
	font-weight: bold;
}

.feedback-title {
	font-weight: bold;
}

.feedback-descr select{
	width: 120px;
	height: 30px;
}

.feedback-border {
	border-radius: 3px;
	border: 1px solid var(--color-grey);
}

.feedback-text {
	width: 160px;
	height: 25px;
}

.footer-title {
	color: var(--color-white);
	font-size: 16px;
}

.footer {
	background-color: var(--footer-bg);
}

.year {
	display: block;
	color: var(--color-white);
}

.footer-menu li {
	color: var(--color-white);
}

.footer-menu ul {
	padding-left: 30px;
}

