/** CSS STYLE **/
html, body{
	margin: 0;
	padding: 0;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 15;
}

.logo img {
	margin-right: 15px;
}

.menu  {
	display: flex;
	flex-grow: 1;
}

.menu ul {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.menu ul li a{
	text-decoration: none;
	color: black;
}

.reserv {
	background-image: url(../images/banner.png);
	background-position: center;
	height: 400px;
}

.reserv-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.reserv-wrapper button{
	width: 150px;
	color: #fff;
	background-color: transparent;
	outline: none;
	border: 1px solid #fff;
	padding: 5px 10px;
	border-radius: 5px;
}

.reserv-wrapper .reserv-title {
	color: #fff;
	font-size: 42px;
	margin-bottom: 10px;
}

.reserv-wrapper .reserv-subtitle {
	color: #fff;
	font-size: 24px;
	margin-bottom: 10px;
}

.advantages {
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.advantages-wrapper {
	display: flex;
	justify-content: space-between;
}

.advantages-wrapper-unic, .advantages-wrapper-infr, .advantages-wrapper-proximity {
	width: 25%;
}

.advantages-wrapper-unic-title, .advantages-wrapper-infr-title, .advantages-wrapper-proximity-title {
	font-size: 30px;
	padding-bottom: 10px;
}

.about {
	background-color: #DCDCDC;
	padding-left: 250px;
	padding-right: 250px;
}

.about-wrapper {
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
	justify-content: center;
}

.about-wrapper-descr {
	width: 50%;
}

.about-wrapper-img {
	width: 50%;
}

.about-wrapper-img {
	display: flex;
	justify-content: flex-end;
}

.about-wrapper-img img {
	width: 70%;
}

.about-wrapper-descr-title {
	font-size: 30px;
	font-weight: bold;
}

.about-wrapper-descr {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.places-wrapper {
	display: flex;
	padding-top: 50px;
	padding-bottom: 50px;
	justify-content: center;
}
.places {
	padding-left: 250px;
	padding-right: 250px;
}

.places-wrapper-descr, .places-wrapper-img {
	width: 50%;
}

.places-wrapper-img {
	display: flex;
	justify-content: flex-start;
}

.places-wrapper-img img {
	width: 70%;
}

.places-wrapper-descr-title {
	font-size: 30px;
	font-weight: bold;
}

.places-wrapper-descr {
	display: flex;
    flex-direction: column;
    justify-content: center;
}