/* Basic */
body {
	font-family: Open Sans;
}

.d-inline-b {
	display: inline-block;
}

.dflex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-center {
	justify-content: center;
}

ul, html, body {
	margin: 0px;
	padding: 0px;
}

.link-black {
	color: #000;
}

.link-white {
	color: #fff;
}

.flex-column {
	flex-direction: column;
}

.btn-white {
	border: 1px solid #d9d9d8;
	color: #fff;
}

.btn-green {
	border: 1px solid #06d4ae;
	color: #00d2ab;	
}

.white {
	color: #fff;
}

.text-dec {
	text-decoration: none;
}

.text-center {
	text-align: center;
}

.bg-grey {
	background-color: #f7f7f7;
}

.fz-14-px {
	font-size: 14px;
}

/* Header */

.logo img {
	height: 35px;
}

.logo span {
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
}

.menu a {
	margin-right: 10px;
	font-size: 13px;
}

.menu a:last-child {
	margin-right: 0;
}


header {
	position: fixed;
	background-color: #fff;
	left: 0;
	top: 0;
	right: 0;
	height: 50px;
	padding-left: 1%;
	padding-right: 1%;
}

/* Sections */

main {
	margin-top: 50px;
}

.bl {
	background-image: url(../images/banner.png);
	height: 325px;
	background-position: center center;
	background-repeat: no-repeat;
}

.bl img {
	height: 140px;
	margin-top: 15px;
}

h1 {
	font-size: 30px;
	margin-bottom: 15px;
	margin-top: 20px;
}

.bl p {
	margin: 0;
	margin-bottom: 20px;
}

.btn {
	padding: 8px 30px;
	border-radius: 5px;
}

.section, .footer {
	padding-top: 30px;
	padding-bottom: 35px;
}

.features-sect {
	width: 30%;
}

.section-title {
	font-size: 20px;
}

.section-decription {
	width: 55%;
}

.section-img {
	height: 210px;
}

.section-wrapper, .footer-wrapper {
	width: 1000px;
	margin: 0 auto;
}

.section-blocks form{
	width: 370px;
}

.section-blocks fieldset {
	border: 2px solid #09d3ac;
}

.section-blocks legend {
	color: #09d3ac;
	font-weight: bold;
}

.feedback-title {
	font-weight: bold;
}

.feedback-descr select{
	width: 120px;
	height: 30px;
}

.feedback-border {
	border-radius: 3px;
	border: 1px solid #d4d4d4;
}

.flat {
	margin-bottom: 20px;
}

.feedback-text {
	width: 160px;
	height: 25px;
}

.contact {
	margin-bottom: 20px;
}

.year {
	margin-top: 10px;
	display: block;
}

.footer-title {
	margin: 0;
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}

.footer {
	background-color: #303846;
}

.year {
	color: #fff;
}

.footer-menu li {
	color: #fff;
}

.footer-menu ul {
	padding-left: 30px;
}